main section {
    margin: 3.75rem 0rem;

    h2 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1.25rem;
        font-weight: 500;

        span {
            color: var(--primary-color);
        }
    }
}

#aboutus .container {
    display: flex;
    flex-direction: column;


    figure {
        padding: var(--gap);
        width: 100%;

        img {
            border-top: 10px solid var(--primary-color);
            border-left: 10px solid var(--primary-color);
            border-right: 10px solid white;
            border-bottom: 10px solid white;

        }
    }

    div.column {
        width: 100%;
        padding: var(--gap);
        text-align: center;
    }

    h5 {
        margin-bottom: var(--gap);
    }

    p {
        color: var(--text-color);
        line-height: 1.5rem;
        margin-bottom: var(--gap);
    }
}

#calltoaction {
    background-image: url(../images/images/qt-bg.jpg);
    padding: 5rem 0rem;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    color: white;
    background-color: #666;
    background-blend-mode: multiply;

    blockquote {
        font-style: italic;
        font-family: var(--secondary-font);
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: var(--gap);
    }

    author {
        font-size: 1.2rem;
    }
}

#menu .grid {
    margin: var(--gap);
    display: grid;
    gap: var(--gap);

    article {
        width: 100%;
    }

    /*   &:hover {
        .content {
            top: -3em;
            opacity: 1;
            height: 6rem;
            width: calc(100% - 2rem);
        } */
}

.content {
    background-color: var(--primary-color);
    color: white;
    height: 6rem;
    padding: 0.5rem;
    position: absolute;
    width: calc(100% - 2rem);
    display: none;



    h3 {
        font-size: 1.5rem;
    }

    p {
        font-family: var(--secondary-font);
        font-size: 2rem;
        font-weight: 500;
        margin-top: 1rem;

    }
}