@media (width>=48rem) {

    /* 2 columnas en el menu */
    #menu .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}



@media (width>=62rem) {
    header .hamburger {
        display: none;
    }

    header nav {
        width: calc(100% - 12.5rem);
        /* 100% menos la medida del logo */
        padding: 0.60rem 0;

        ul {
            display: flex;
            justify-content: end;

            li {
                margin: 0rem 0.3125rem;
                /*nombre plugin: px to rem */
            }

        }
    }

    #aboutus .container {
        flex-direction: row;
        justify-content: space-between;
    }

    #menu .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}